.control-label .required, .form-group .required {
    font-size: 14px;
}

.page-header .page-header-menu .hor-menu .navbar-nav>li.classic-menu-dropdown .dropdown-menu {
    min-width: 250px;
}

.tabbable-line>.nav-tabs>li.active {
    border-bottom: 4px solid #F3C200;
}

.tabbable-line>.nav-tabs>li.open, .tabbable-line>.nav-tabs>li:hover {
    border-bottom: 4px solid #fbedb2;
}

.select2-container--bootstrap .select2-selection--multiple .select2-search--inline .select2-search__field {
    width: 120% !important;
}

table.table thead tr th {
    background: #3594cb;
    color: #fefefe;
}

.grid-view .table th>.sort-link {
    color: #fefefe;
}
tr.highlight {
    background-color: #666;
    color: #fdfdfd;
}
td.dollarValue {
    text-align: center;
}
td.numericValue {
    text-align: center;
}
.blur {
    text-shadow: 0 0 20px black;
    color: transparent;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.page-header .page-header-top .top-menu .navbar-nav>li.dropdown-dark .dropdown-menu.dropdown-menu-default>li a {
    color: #ffffff;
}